.loader {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
}

.loader__icon {
	font-size: 5rem;
	animation: spin 2s linear infinite ;
	user-select: none;
	color: rgb(var(--primary-color));
	pointer-events: none;
}

@keyframes spin {
	0%{ 
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
	50% {
		transform: rotate(180deg) scale(1.2);
		opacity: 0.5;
	}
	100% {
		transform: rotate(359deg) scale(1);
		opacity: 1;
	}
}

