.education {
    padding: 2rem;
}

.education__item {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.education__item__title {
    color: rgb(var(--primary-color));
}
.education__item__subtitle {
    font-size: 1.2rem;
    color: white;
}
.education__item__info {
    gap: 0.6rem;
    display: grid;
}
.education__item__date {
    text-align: right;
    font-size: 1.1rem;
}