.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "education about"
        "scroller scroller"
        "experience experience";
    margin-top: 2rem;
    gap: 2rem;
    padding: 1rem;
}
.section {
    padding: 2rem;
}

.education {
    grid-area: education;
}

.about {
    grid-area: about;
}

.experience {
    grid-area: experience;
}

.scroller {
    grid-area: scroller;
}



@media(max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas:
        "education"
        "about"
        "scroller"
        "experience"
        ;
    }
}


@media(max-width: 525px) {
    .section {
        padding: 1rem;
    }
}