.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "education about"
        "skills skills"
        "experience experience";
    margin-top: 2rem;
    gap: 2rem;
}
.section {
    padding: 2rem;
}

.education {
    grid-area: education;
}

.about {
    grid-area: about;
}

.experience {
    grid-area: experience;
}

.skills {
    grid-area: skills;
}



@media(max-width: 768px) {
    .main {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
}


@media(max-width: 525px) {
    .section {
        padding: 1.5rem;
    }
}