.error  {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	width: 100%;
}

.error__icon {
	font-size: 5rem;
}

.error__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}