.skill {
	text-align: center;
	width: 5rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.skill h2 {
	font-size: 1.2rem;
}

.skill img {
	width: 100%;
	height: 100%;
}