.block.gradient {
    position: relative;
    border: none;
}
.block.gradient::before {
    content: "";
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    right: -1.5px;
    bottom: -1.5px;
    z-index: -1;
    background: linear-gradient(
        75deg,
        var(--block-color) 85%,
        rgb(var(--primary-color)) 90%
    );
    border-radius: var(--rounded-md);
}


.block.gradient::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--rounded-md);
    z-index: 0;
    background: linear-gradient(
        65deg,
        var(--block-color) 58%,
        rgba(var(--primary-color), 0.6) 150%
    );
}
.block .content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 2rem;
    left: 0;
}

.block.gradient.bottom::before {
    background: linear-gradient(
        -105deg,
        var(--block-color) 85%,
        rgb(var(--primary-color)) 90%
    );
}

.block.gradient.bottom::after {
    background: linear-gradient(
        -120deg,
        var(--block-color) 58%,
        rgba(var(--primary-color), 0.6) 150%
    );
}
