.header {
    --avatar-size: 13rem;
    --avatar-bg: #2c2c2c;
    --avatar-border: 1px solid #3F3E3E;
    --icon-size: 1.5rem;

    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr var(--avatar-size);
    align-items: center;
    margin: 1rem;
    margin-top: 2rem;
    grid-template-areas:  
        "subtitle avatar"
        "title avatar"
        "description avatar"
        "buttons avatar";
}

.header h1 {
    color: white;
    margin-top: 6rem;
    grid-area: title;
}

.header h2 {
    grid-area: subtitle;
}

.header p {
    margin-top: 1rem;
    grid-area: description;
}

.linkedIn {
    padding: 0.5rem;
    border-radius: var(--rounded-sm);
    min-width: 5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}
.linkedIn:hover {
    color: var(--text-color);
    background-color: rgb(var(--primary-color));
}
.copy-email {
    border-radius: var(--rounded-sm);
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: .25s;
    border: var(--main-border);
}
.copy-email:hover {
    border-color: rgb(var(--primary-color));
}
.copy-email:hover span {
    border-color: rgb(var(--primary-color));
}

.copy-email span {
    padding: 0.75rem;
    display: flex;
    transition: border-color .25s 0.25s;
    align-items: center;
    justify-content: center;
    border-left: var(--main-border);
}
.copy-email .copy-email__text {
    border-left: none;
}
.copy-email img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.header__buttons{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    grid-area: buttons;
}
.header__avatar {
    grid-area: avatar;
}
.header__avatar img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: var(--avatar-border) ;
    background-color: var(--avatar-bg);
    padding: 1rem;
    object-fit: cover;
}


@media(max-width: 525px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-areas:  
        "subtitle"
        "avatar"
        "title"
        "description"
        "buttons"
        ;
    }
    .header h1 {
        margin-top: 2rem;
    }
    .header__avatar {
        margin-top: 2rem;
    }
}