.experience__items {
    --arrow-size: 2.5rem;

    margin-top: 2rem;
	display: grid;
    grid-template-columns: var(--arrow-size) 1fr var(--arrow-size);
    grid-template-areas: 
    "buttonLeft slide buttonRight";
    align-items: center;
	gap: 1rem;
    touch-action: none;
    user-select: none;
}

.experience__item {
    display: grid;
    max-width: 30rem;
    padding: 2rem;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
	min-height: 30rem;
    margin-left: 1rem;

}

.experience__item-header {
    justify-self: left;
}
.experience__item-header h2 {
    color: white;
}
.experience__item-header h3 {
    margin-top: 1rem;
}
.experience__item-list {
    grid-column: 1 / span 2;
    list-style: disc;
	font-size: 1.1rem;
}

.experience__item img {
    width: 4.75rem;
    justify-self: end;
    height: 4.75rem;
    border-radius: 1rem;
    background: rgb(var(--primary-color));
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__items button {
    width: var(--arrow-size);
    height: var(--arrow-size);
    border-radius: 50%;
    background-color: rgb(var(--primary-color));
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
}
.experience__items button:nth-child(1) {
    grid-area: buttonLeft;
}


.experience__items-content {
	min-height: 30rem;
	position: relative;
	flex-grow: 1;
	overflow: hidden;
    grid-area: slide;
}

.experience__items button:nth-child(3) {
    grid-area: buttonRight;
}

.experience__item-wrapper {
	position: absolute;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}

.experience__items button:disabled {
	opacity: 0.5;
}

@media(max-width: 525px) {
    .experience__items-content {
        width: 100%;
    }
    .experience__item {
        margin-left: 0;
    }
    .experience__items {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-template-areas: 
        "slide slide"
        "buttonLeft buttonRight"
        ;
    }
}