.admin .menu__logo,
.admin .header__avatar {
    position: relative;
}

.admin .menu__logo,
.admin .header__avatar input {
    border-radius: 50%;
}

.admin .menu .menu__logo label {
    right: -1rem;
    width: 2rem;
    height: 2rem;
    bottom: 0;
}

.admin .menu {
    margin: 1rem 0;
}

.admin .section {
    margin-bottom: 2rem;
}

