.admin .menu__logo,
.admin .header__avatar {
    position: relative;
}

.admin .menu__logo,
.admin .header__avatar input {
    border-radius: 50%;
}

.admin .menu .menu__logo label {
    right: -1rem;
    width: 2rem;
    height: 2rem;
    bottom: 0;
}

.admin .menu {
    margin: 1rem 0;
}

.admin .section {
    margin-bottom: 2rem;
}


.item-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 0.5rem;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: black;
}
.item-list p {
    flex-grow: 1;
}

.item-list button {
    min-width: 2rem;
    padding: 0;
    height: 2rem;

}
.items_admin {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item_admin {
    flex-grow: 1;
    max-width: 30rem;
    padding: 1rem;
    position: relative;
}

.section__title {
    margin-block: 1rem;
}

.items_admin .item__delete  {
	position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    min-width: fit-content;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.5rem;
    right: -0.5rem;
}

.admin__item-logo {
    position: relative;
    width: 7rem;
    height: 7rem;
}