.menu{
    --sandwich-width: 2rem;
    --sandwich-height: 1.5rem;
    --logo-size: 4rem;
    
    display: grid;
    grid-template-columns: var(--logo-size) 1fr;
    margin: 1rem;
    margin-top: 0;
}

.menu__links{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.menu__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    height: var(--logo-size);
    width: var(--logo-size);
}

.menu__logo.block {
    border-radius: 50%;
}

.menu__links.block {
    border-radius: var(--rounded-lg);
}

.menu__link button {
    background-color: transparent;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
    border: var(--main-border);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: 0.25s;
    border-color: transparent;
}

.menu__link button:hover {
    border-color: rgb(var(--primary-color));
}

.menu__link.active button {
    color: rgb(var(--primary-color));
    font-weight: bold;
}

.menu__links.menu__sandwich {
    display: none;
}

.menu__floating {
    position: fixed;
    width: 15rem;
    height: 25%;
    top: 6.5rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -1rem;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.5s;
}

.menu__floating.active {
    opacity: 1;
    visibility: visible;
}

.sandwich {
    width: var(--sandwich-width);
    height: var(--sandwich-height);
    background-color: transparent;
    position: relative;
    top: -3px;
}
.sandwich span {
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #FFF;
    border-radius: 2px;
}

.sandwich span:nth-child(1) {
    top: 0;
    transition: 0.5s;
}
.sandwich span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.sandwich span:nth-child(3) {
    bottom: 0;
    transition: 0.5s;
}

.sandwich.active span:nth-child(1){
    transform: rotate(45deg) translateY(0%);
    top: 50%;
}

.sandwich.active span:nth-child(2){
    opacity: 0;
}

.sandwich.active span:nth-child(3){
    transform: rotate(-45deg) translateY(0%);
    top: 50%;
}
.menu.section {
    padding: 1rem;
    border-radius: 2rem;
}
.menu_admin.section {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    justify-content: space-between;
}
/*
Laptop: 1024px;
Tablet: 768px ;
Mobile: <768px;
*/

@media (max-width: 768px) {
    .menu__links {
        display: none;
    }

    .menu__links.menu__sandwich {
        display: flex;
        justify-content: space-between;
        padding-block: 0;
    }



}